<configuration>
    <!-- Mỗi một appender thì tương ứng với một config-->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %white(%d{dd-MM-yyyy hh:mm:ss}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
    <!--    <property name="LOG_PATH" value="./Users/empty/OneDrive/Desktop"></property>-->
    <property name="LOG_PATH" value="logs"></property>
    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/log.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/archived/log_%d{dd-MM-yyyy}.log
            </fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

    </appender>
    <root level="info">
        <appender-ref ref="Console" />
<!--        <appender-ref ref="SAVE-TO-FILE" />-->
    </root>
</configuration>