<div class="container row">
  <!-- START PROJECT STATISTICS -->
  <div class="col-md-6 col-lg-4 col-xl-6 order-0 my-4">
    <div class="card h-100">
      <div
        class="card-header d-flex align-items-center justify-content-between pb-0"
      >
        <div class="card-title mb-0">
          <h5 class="m-0 me-2">Project Statistics</h5>
          <small class="text-muted">{{ projectTotal }} Total Projects</small>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div id="chart">
            <apx-chart
              [series]="projectChartSeries"
              [chart]="projectChartDetails"
              [colors]="projectChartColors"
              [labels]="projectChartLabels"
            >
            </apx-chart>
          </div>
        </div>

        <ul class="p-0 m-0">
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-primary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-info"
                >
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="12" y1="16" x2="12" y2="12"></line>
                  <line x1="12" y1="8" x2="12" y2="8"></line>
                </svg>
              </span>
            </div>
            <div
              class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
            >
              <div class="me-2">
                <h6 class="mb-0">DOING</h6>
              </div>
              <div class="user-progress">
                <small class="fw-semibold">{{ projectStatusDoing }}</small>
              </div>
            </div>
          </li>
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-success">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-check-circle"
                >
                  <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                  <polyline points="22 4 12 14.01 9 11.01"></polyline>
                </svg>
              </span>
            </div>
            <div
              class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
            >
              <div class="me-2">
                <h6 class="mb-0">DONE</h6>
              </div>
              <div class="user-progress">
                <small class="fw-semibold">{{ projectStatusDone }}</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END PROJECT STATISTICS -->
  <!-- START TASK STATISTICS -->
  <div class="col-md-6 col-lg-4 col-xl-6 order-0 my-4">
    <div class="card h-100">
      <div
        class="card-header d-flex align-items-center justify-content-between pb-0"
      >
        <div class="card-title mb-0">
          <h5 class="m-0 me-2">Task Statistics</h5>
          <small class="text-muted">{{ taskTotal }} Total Tasks</small>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div id="chart">
            <apx-chart
              [series]="taskChartSeries"
              [chart]="taskChartDetails"
              [colors]="taskChartColors"
              [labels]="taskChartLabels"
              [autoUpdateSeries]="true"
            >
            </apx-chart>
          </div>
        </div>
        <ul class="p-0 m-0">
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-info">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-calendar"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                  />
                </svg>
              </span>
            </div>
            <div
              class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
            >
              <div class="me-2">
                <h6 class="mb-0">TODO</h6>
              </div>
              <div class="user-progress">
                <small class="fw-semibold">{{ taskStatusUnassigned }}</small>
              </div>
            </div>
          </li>
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-primary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-calendar-check"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"
                  />
                  <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                  />
                </svg>
              </span>
            </div>
            <div
              class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
            >
              <div class="me-2">
                <h6 class="mb-0">IN PROGRESS</h6>
              </div>
              <div class="user-progress">
                <small class="fw-semibold">{{ taskStatusStarted }}</small>
              </div>
            </div>
          </li>
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-success">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-calendar-check-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708z"
                  />
                </svg>
              </span>
            </div>
            <div
              class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2"
            >
              <div class="me-2">
                <h6 class="mb-0">DONE</h6>
              </div>
              <div class="user-progress">
                <small class="fw-semibold">{{ taskStatusCompleted }}</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END TASK STATISTICS -->
</div>
